<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <details class="ppl-batch-node ppl-batch-node--level-{node.level}" style="--ppl-batch-indent: {node.indent}px;" open="open">
        <summary class="ppl-batch-node__summary">
            <span class="ppl-batch-node__indent"></span>
            <span class="ppl-batch-node__togglestate" aria-hidden="true"></span>
            <label class="ppl-batch-check" title="{f:translate(key: 'batch.checkbox.subtree', extensionName: 'PplDeeplV3BatchTranslation')}">
                <input type="checkbox" name="selected_subtree_pages[]" value="{node.uid}" onclick="event.stopPropagation();" />
                <span><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.checkbox.subtreeShort" /></span>
            </label>
            <label class="ppl-batch-check" title="{f:translate(key: 'batch.checkbox.pageOnly', extensionName: 'PplDeeplV3BatchTranslation')}">
                <input type="checkbox" name="selected_pages[]" value="{node.uid}" onclick="event.stopPropagation();" />
                <span><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.checkbox.pageOnlyShort" /></span>
            </label>
            <span class="ppl-batch-node__title">
                <f:if condition="{node.hidden}">
                    <span class="ppl-batch-node__hidden"><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.hidden" /></span>
                </f:if>
                {node.title}
                <small>UID {node.uid}</small>
            </span>
            <span class="ppl-batch-badge ppl-batch-badge--blue" title="{f:translate(key: 'batch.elementsInPage', extensionName: 'PplDeeplV3BatchTranslation')}">{node.accessibleElementCount}</span>
            <span class="ppl-batch-badge ppl-batch-badge--red" title="{f:translate(key: 'batch.noAccessElements', extensionName: 'PplDeeplV3BatchTranslation')}">{node.blockedElementCount}</span>
            <span class="ppl-batch-status ppl-batch-status--{node.status}">
                <f:translate key="{node.statusLabelKey}" extensionName="PplDeeplV3BatchTranslation" />
            </span>
            <span class="ppl-batch-node__actions">
                <f:if condition="{node.status} == 'translated'">
                    <f:then>
                        <button class="btn btn-default btn-sm" type="submit" name="batch_action" value="retranslate_page:{node.uid}" onclick="event.stopPropagation();"><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.action.retranslate" /></button>
                    </f:then>
                    <f:else>
                        <button class="btn btn-primary btn-sm" type="submit" name="batch_action" value="translate_page:{node.uid}" onclick="event.stopPropagation();"><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.action.translate" /></button>
                    </f:else>
                </f:if>
                <f:if condition="{node.status} == 'partial'">
                    <button class="btn btn-default btn-sm" type="submit" name="batch_action" value="translate_missing:{node.uid}" onclick="event.stopPropagation();"><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.action.translateMissing" /></button>
                </f:if>
            </span>
        </summary>

        <div class="ppl-batch-node__body">
            <div class="ppl-batch-elements">
                <f:if condition="{node.elements}">
                    <f:then>
                        <f:for each="{node.elements}" as="element">
                            <div class="ppl-batch-element {f:if(condition: element.accessible, then: '', else: 'ppl-batch-element--blocked')}">
                                <label class="ppl-batch-check" title="{f:translate(key: 'batch.checkbox.elementOnly', extensionName: 'PplDeeplV3BatchTranslation')}">
                                    <input type="checkbox" name="selected_elements[]" value="{element.uid}" />
                                </label>
                                <span class="ppl-batch-element__title">
                                    <f:if condition="{element.hidden}">
                                        <span class="ppl-batch-node__hidden"><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.hidden" /></span>
                                    </f:if>
                                    {element.title}
                                    <small>{element.type} / UID {element.uid}</small>
                                </span>
                                <span class="ppl-batch-status ppl-batch-status--{element.status}">
                                    <f:translate key="{element.statusLabelKey}" extensionName="PplDeeplV3BatchTranslation" />
                                </span>
                                <f:if condition="{element.accessible}">
                                    <f:else>
                                        <span class="ppl-batch-badge ppl-batch-badge--red"><f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.noAccess" /></span>
                                    </f:else>
                                </f:if>
                            </div>
                        </f:for>
                    </f:then>
                    <f:else>
                        <div class="ppl-batch__empty ppl-batch__empty--small">
                            <f:translate key="LLL:EXT:ppl_deepl_v3_batch_translation/Resources/Private/Language/locallang.xlf:batch.noElements" />
                        </div>
                    </f:else>
                </f:if>
            </div>

            <f:for each="{node.children}" as="child">
                <f:render partial="BatchTranslation/PageNode" arguments="{node: child}" />
            </f:for>
        </div>
    </details>
</html>
